<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631699325546-d0tfldrv1ne5jut2c4sdkgmvukl39d0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631699325546-d0tfldrv1ne5jut2c4sdkgmvukl39d0k</string>
	<key>API_KEY</key>
	<string>AIzaSyCgsZvrdf6VPplVcKtErkZNK0Xv6u_biK0</string>
	<key>GCM_SENDER_ID</key>
	<string>631699325546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bts.chocawallet</string>
	<key>PROJECT_ID</key>
	<string>chocawallet</string>
	<key>STORAGE_BUCKET</key>
	<string>chocawallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631699325546:ios:dfda132a6e233180550013</string>
</dict>
</plist>